doctype html
html
   head
      link(rel='stylesheet', href='/css/animate.css')
      link(rel='stylesheet', href='/css/index.css')

   body
      script(src="/js/vendor/jquery.min.js")
      script(src="/js/vendor/jquery.transform2d.js")
      script(src="/js/vendor/underscore.min.js")
      script(src="/js/vendor/backbone.min.js")
      script(src="/js/vendor/velocity.min.js")
      script(src="/js/vendor/motio.min.js")
      script(src="/js/vendor/peps.js")

      script(src="/js/jst.js")
      script(src="/js/models/consts.js")
      script(src="/js/models/World.js")
      script(src="/js/models/Tile.js")
      script(src="/js/Engine.js")
      script(src="/js/index.js")

      //div.map
         - for (var x = 0; x < 121; x++)
            div.slot(class="#{_.random(1, 4)%4?'building':''}")
               div.thing
                  div.zombie(class="rotate#{_.random(1, 12)}")
               div.thing
                  - if (x%2===0)
                     div.zombie(class="rotate#{_.random(1, 12)}")
               div.thing
                  - if (x%3===0)
                     div.zombie(class="rotate#{_.random(1, 12)}")
               div.thing
                  - if (x%4===0)
                     div.zombie(class="rotate#{_.random(1, 12)}")
               div.thing
                  - if (x%5===0)
                     div.zombie(class="rotate#{_.random(1, 12)}")
               div.thing
                  - if (x%6===0)
                     div.zombie(class="rotate#{_.random(1, 12)}")
               div.thing
                  - if (x%7===0)
                     div.zombie(class="rotate#{_.random(1, 12)}")
               div.thing
                  - if (x%8===0)
                     div.zombie(class="rotate#{_.random(1, 12)}")
               div.thing
                  - if (x%9===0)
                     div.zombie(class="rotate#{_.random(1, 12)}")