doctype html
html
   head
      script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
      script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js")
      //script(src="//raw.githubusercontent.com/darsain/motio/master/dist/motio.min.js")
      script(src="/js/index.js")

      link(rel='stylesheet', href='/css/index.css')

   body
      div.map
         - for (var x = 0; x < 121; x++)
            div.slot
               div.thing
                  div.zombie(class="rotate#{_.random(1, 12)}")
               div.thing
                  - if (x%2===0)
                     div.zombie(class="rotate#{_.random(1, 12)}")
               div.thing
                  - if (x%3===0)
                     div.zombie(class="rotate#{_.random(1, 12)}")
               div.thing
                  - if (x%4===0)
                     div.zombie(class="rotate#{_.random(1, 12)}")
               div.thing
                  - if (x%5===0)
                     div.zombie(class="rotate#{_.random(1, 12)}")
               div.thing
                  - if (x%6===0)
                     div.zombie(class="rotate#{_.random(1, 12)}")
               div.thing
                  - if (x%7===0)
                     div.zombie(class="rotate#{_.random(1, 12)}")
               div.thing
                  - if (x%8===0)
                     div.zombie(class="rotate#{_.random(1, 12)}")
               div.thing
                  - if (x%9===0)
                     div.zombie(class="rotate#{_.random(1, 12)}")